form .form-group
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

form .form-group label
{
    margin-bottom: 10px;
    font-size: 15px;
}

form .form-group input,select
{
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

form .form-group textarea
{
	font-family: 'Montserrat', sans-serif;
	padding-top: 10px;
	padding-left:5px;
}

form input[type=submit]
{
    border: none;
    background-color: #1CC0A0;
    padding: 10px 20px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

form .back-a
{
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    font-size: 13px;
}

.success-text
{
	color:green !important;
}